*{
    --color1: #07090a;
    --color2: #f7c41e;
    --color3: #ffffff;
}
*{
    list-style: none;
    text-decoration: none;
}

body{
    background: var(--color1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color3);
}

/* start nav */

.nav-bar{
    background: var(--color1);
    color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.n-logo{
    font-size: 1.6rem;
    font-weight: 600;
}

.n-logo > span{
    color: var(--color2);
}

.n-right > ul{
    display: flex;
    align-content: center;
    gap: 20px;
}

.n-right > ul > li > a{
    font-size: 18px;
    color: var(--color3);
}
/* end nav */

/* start intro */

.intro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.i-left{
    width: 400px;
}

.i-profile{
    width: 300px;
    border-radius: 2rem;
}


.i-right > h1{
    font-size: 49px;
}

.i-right > p{
    font-size: 20px;
    margin: 0 0 2rem 2rem;
}

.i-right > button{
    font-size: 1rem;
    padding: .7rem 1.4rem;
    border-radius: 2rem;
    border: none;
    color: var(--color3);
    background: var(--color2);
    font-weight: bold;
}